body {
    font-family: "Fira Code";
}

.container-div {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
}

.center-div {
    display: grid;
    place-items: center;
    /* display: flex;
    flex-direction: column; */

    padding-bottom: 50px;
}

.input-container-fieldset {
    border: 8px solid #000000;
    border-radius: 20px;

    padding: 10px;
    margin: 10px;

    display: flex;
    /* Centers the items horizontally */
    justify-content: center;
    /* Centers the items vertically */
    align-items: center;

    align-items: center;

    min-width: 0;
    transition: width 300ms;
    width: 460px;

    gap: 10px;
}

.input-container-fieldset:focus-within {
    width: 600px;
}

.input-container-legend {
    border: 4px solid #000000;
    border-radius: 8px;
    background-color: white;
    font-weight: bold;

    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#correct {
    border-color: rgb(0, 255, 0);
}

#included {
    border-color: rgb(255, 255, 0);
}

#excluded {
    border-color: rgb(255, 0, 0);
}

input {
    font-family: "Fira Code";

    border: 4px solid #000000;
    border-radius: 12px;
}

.letter-input {
    width: 100px;
    height: 100px;

    transition: background-color 250ms;

    color: transparent;
    text-shadow: 0px 0px 1px #070707;

    font-size: 60px;
    text-align: center;

    /* Shows uppercase letter but actual value is lowercase */
    text-transform: uppercase;
}

.letter-input::selection {
    background: transparent;
}

.letter-input:focus {
    outline: transparent;
    /* border: 4px solid rgb(20, 0, 201); */
    background-color: #d4d4d4;
}

#answer-button {
    width: 300px;
    height: 100px;

    transition: background-color 250ms;

    border-color: #00c400;
    background-color: #00df00;
}

#answer-button:active {
    background-color: #00d100;
}